<nav>
  <a routerLink="/dashboard">Home</a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" (mouseover)='over()' ngbDropdownToggle>Info</button>
        <div class="dd" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="btn" ngbDropdownItem>General</button>
          <button class="btn" ngbDropdownItem>Associations</button>
          <button class="btn" ngbDropdownItem>Accomplishments</button>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/aboutme">About Me</a>
</nav>
