<nav>
  <a routerLink="/">Home</a>
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Info</button>
        <div class="dd" ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a routerLink="/general" ngbDropdownItem>General</a>
          <a routerLink="/associations" ngbDropdownItem>Associations</a>
          <a routerLink="/accomplishments" ngbDropdownItem>Accomplishments</a>
        </div>
      </div>
    </div>
  </div>
  <a routerLink="/about-me">About Me</a>
</nav>
